.bannerContacto{
    @include estructura_banner("../assets/images/banner-contacto.png");
} 

.contactoRedesSociales{
    width: 100%;
    /* height: 47.375rem; */
    .div-redes-sociales{
        width: 100%;
        height: 238px;
    
        /* Flex */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h2{
    
            margin-left: 100px;
            margin-top: 30px;
        }
    }
    .div-redes-sociales-contacto{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .div-contenedor-redes-sociales{
            width: 80%;
            background-color: $text-color;
            border: 1px solid white;
            border-radius: 20px;
            padding: 3% 10% 5% 10%;
            /* Flexbox */
            display: flex;
            justify-content: center;
            /* gap: 20%; */
            gap: 80px;
            div p{
                color: black;
                text-align: center;
                font-size: 13px;
                font-weight: bold;
                margin-top: 1%;
            }
            div img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        
    }
}

.boxComentarios{
    width: 100%;
    height: 41.0625rem;
    margin-top: 20px;
    .div-comentarios{
        width: 100%;
        height: 238px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h2{
            /* Box Model */
            margin-left: 100px;
            margin-top: 30px;
        }
    }
    .formulario{
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        .cajaComentarios{
            background-color: $text-color;
            width: 70%;
            height: 16.6875rem;
        }
        .botonComentarios{
            margin-top: 20px;
            padding: 10px 15px;
            background-color: $text-color; 
            padding: 15px 30px; 
            border-radius: 3px; 
            border-color: none;
            cursor: pointer; /* Cambia el cursor al pasar el mouse */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        }
        .botonComentarios:hover {
            background-color: #6B7A6C; 
            transform: translateY(-2px); 
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
        }
    }
    
}
