/* Fuentes Generales */
.divTituloEspecialPrincipal{
    font-family: "DeadKansas";
    font-size: 6rem;
    color: #927E7E;
    opacity: 0.32;
    position: absolute;
    left: 120px;
}

.divTituloEspecial{
    font-family: "DeadKansas";
    font-size: 6rem;
    color: #927E7E;
    opacity: 0.32;
    /* Position */
    position: absolute;
    top: -50px;
}

.h2Especial{
    width: 50%;
    font-family: "DeadKansas";
    font-size: 40px;
    /* Position */
    position: absolute;
    left: 10px;
    bottom: 5px;
}