@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
/* font-family: "Inika", serif; */

@font-face {
    font-family: "DeadKansas";
    src: url("../assets/tipografias/Dead\ Kansas.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Impact";
    src: url("../assets/tipografias/Impact.ttf");
}