@media (max-width: 960px){
    .div-momentos-destacados h2{
        /* Box Model */
        margin-left: 50px;
        margin-top: 30px;
    }

    .divTituloEspecialPrincipal{
        font-family: "DeadKansas";
        font-size: 3rem;
        color: #927E7E;
        opacity: 0.32;
    
        position: absolute;
        left: 60px;
    }
}